body{
    margin:0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    height: 9vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

nav a,
nav div a {
    color: #fff;
    padding: 0 10px;
    text-decoration: none; 
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h3 {
    color: white;
}


#portada{
    background-image: url("../images/portada5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    
    
}

#portada > span {
    font-size: 40px;
    color: white;
}

#portada > p {
  font-size: 20px;
  color: white;

}

#portada > search > div > input {
   
    height: 35px;
    width: 35vh;
    background: transparent;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
  
}
#portada > search > div > input:focus{
    border-color: transparent;
   border-width: 0ch;
    
}

#portada > search > div {
    height: 35px;
    /* width: 40vh; */
    border-color: transparent;
    background-color: white;
    border-color: transparent;
    border-radius: 0.5em;
    box-shadow: 0 8px 6px -6px black;
    justify-content: center;
    align-items: center;
}

#portada > search > div > button {
    height: 31px;
    width: 4vh;
    background-color: #00b1b1;
    color: white;
    border: transparent;
    border-radius: 0.5em;
    margin: 2px;
}



/* only flexbox
.collection {
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    widows: 100%;
}

.collection card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    line-height: 3.5em
}

.destiny-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.destiny-section p {
 font-size: 18px;

} */


.collection {
    text-align: center;
}
.grid {
    display:grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 400px 400px; 
    grid-gap: 10px 30px;
    /* separaciones entre el grid */
}

.collection {
    display:flex;
    justify-content: center;
}

card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    line-height: 3.5em
}

.destiny-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.destiny-section p {
 font-size: 18px;
}



footer {
    background-color: black;
    height: 15vh;
    text-align: center;
    font-size: 14px;
    color:white;
    font-style: oblique;
    padding: 30px;
    align-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
}
footer .contact {
    text-align: left;
    padding: 20px;
    font-style: normal;
}

footer .social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    padding: 60px;
}
footer .social.media a {
    background: white;
    padding: 40px;
}
footer .social-media a img {
    width: 35px;
    height: 35px;
}